
 :root{
    --mosque-50: #eefffc;
    --mosque-75:#b6dad9;
    --mosque-80:#9dcdcc;
    --mosque-100: #c6fff6;
    --mosque-200: #8effef;
    --mosque-250:#85c1bf;
    --mosque-300: #4dfbe5;
    --mosque-350:#6cb5b2;
    --mosque-375:#54a8a5;
    --mosque-400: #19e8d5;
    --mosque-500: #01cbbc;
    --mosque-550:#3b9c99;
    --mosque-575:#238f8c;
    --mosque-600: #00a49b;
    --mosque-700: #03827c;
    --mosque-800: #086966;
    --mosque-900: #0c5552;
    --mosque-950: #003334;
  }
  .Aboutme{    
    display: grid;
    border: 3px solid white;
    border-radius: 20px;
    width: 90%;
    padding: 0;
    gap: 60px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
}

  .about-h1 h1 {
    font-size: 2em;
    margin-top: 0;
    border-radius: 10px;
    padding: 0.3em;
    background: linear-gradient(to left, 
      
      var(--black-400),
      var(--black-300),
      var(--black-50)
    );
    -webkit-background-clip: text;
    color: transparent;
    opacity: 1;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
  }

  @keyframes reveal {
    from{
      opacity: 0;
      translate: 0 50px;
      scale: .5;
  }
  to{
      opacity: 1;
      translate: 0 0;
      scale: 1;

  }
  }
  