/* Cyan Colors
 */
 :root{
    --mosque-50: #eefffc;
    --mosque-75:#b6dad9;
    --mosque-80:#9dcdcc;
    --mosque-100: #c6fff6;
    --mosque-200: #8effef;
    --mosque-250:#85c1bf;
    --mosque-300: #4dfbe5;
    --mosque-350:#6cb5b2;
    --mosque-375:#54a8a5;
    --mosque-400: #19e8d5;
    --mosque-500: #01cbbc;
    --mosque-550:#3b9c99;
    --mosque-575:#238f8c;
    --mosque-600: #00a49b;
    --mosque-700: #03827c;
    --mosque-800: #086966;
    --mosque-900: #0c5552;
    --mosque-950: #003334;
  }
/*
--azure-radiance-50: #f0f8fe;
--azure-radiance-100: #dceffd;
--azure-radiance-200: #c2e3fb;
--azure-radiance-300: #97d3f9;
--azure-radiance-400: #66baf4;
--azure-radiance-500: #439cee;
--azure-radiance-600: #3584e4;
--azure-radiance-700: #256ad0;
--azure-radiance-800: #2455a9;
--azure-radiance-900: #224a86;
--azure-radiance-950: #192e52;


*/

/*Curso transicion*/
.pulser{
  width: 30px;
  height: 30px;
  background-color: #03827c;
  border-radius: 100%;
  position: relative;
  transition-duration: 100ms;
  transition-timing-function:ease-in-out;
  opacity:2;
}

.pulser::after{
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(49, 65, 64);
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  animation: backPulse;
  animation-duration: 6s;
  animation-timing-function: ease;
  animation-iteration-count: 3s;
}
@keyframes backPulse {
  0%{
    opacity: 0;
  }
  50%{
    scale: 1.4;
    opacity: 40%;
  }
}
.pulser:first-child{
  transition-delay: 0s;
}

.pulser:nth-child(2){
  transition-delay: 300ms;
}
.pulser:nth-child(3){
  transition-delay: 600ms;  
}
.pulser:hover{
  animation-name: move;
}
section{
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
section:hover .pulser{
  opacity: 1;
}



@keyframes move {
  from{
    transform: translateY(0px);
  }
  to{
    transform: translateY(50px);
  }
}



/*Curso*/


.Hero{
    display: grid;
    justify-content: center;
    align-items: center;
    place-content: center;
    min-height: 95vh;
}

  /***/
.letters {
    display: grid;
    justify-content: center;
    align-items: center;
    background-attachment: scroll;
}
  
.letters h2 {
    font-size: 2em;
    margin: 0;
    border-radius: 10px;
    padding: 0.3em;
    background: linear-gradient(to right, var(--mosque-300)
    ,var(--mosque-550)
    ,var(--mosque-575)
    ,var(--mosque-600)
    ,var(--mosque-700)
    ,var(--mosque-800)
    ,var(--mosque-900) );
    -webkit-background-clip: text;
    color: transparent;
    opacity: 1;
}
  
  .letters h2:first-child {
    background-color: transparent;
    animation-name: letters-1;
    animation-duration: 4s;
  }
  .letters h2:nth-child(2) {
    background-color: transparent;
    animation-name: letters-1;
    animation-duration: 4s;
  }
  
  @keyframes letters-1 {
    0% {
      transform: translateX(-300px);
      opacity: 0;
    }
    33% {
      opacity: 1;
    }
    66% {
      opacity: 1;
    }
    100% {
      transform: translateY(0);
      /* opacity: 0; */
    }
  }


  @keyframes presentation {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .presentation {
    font-size: 2em;
    margin: 0;
    border-radius: 10px;
    padding: 0.6em;
    background: linear-gradient(to left, var(--mosque-300)
    ,var(--mosque-550)
    ,var(--mosque-575)
    ,var(--mosque-600)
    ,var(--mosque-700)
    ,var(--mosque-800)
    ,var(--mosque-900) );
    -webkit-background-clip: text;
    color: transparent;
    opacity: 1;
    background-color: transparent;
    position: relative;
    opacity: 1;
    animation: presentation 2s ease-in-out forwards;
  }
  