/*Curso transicion*/
.pulser{
  width: 30px;
  height: 30px;
  
  border-radius: 100%;
  transition-duration: 100ms;
  transition-timing-function:ease-in-out;
  opacity:1;
}
.pulser:nth-child(1){
  background-color: var(--black-400);
  transition-delay: 0s;
}

.pulser:nth-child(2){
  background-color: var(--black-500);
  transition-delay: 300ms;
}
.pulser:nth-child(3){
  background-color: var(--black-600);
  transition-delay: 600ms;  
}
.pulser:nth-child(4){
  background-color: var(--black-700);
  transition-delay: 900ms;  
}

.pulser-group{
  display: flex;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  place-content: center;
}


@keyframes move {
  from{
    transform: translateY(0px);
  }
  to{
    transform: translateY(50px);
  }
}



/*Curso*/
.Hero{
    display: grid;
    justify-content: center;
    align-items: center;
    place-content: center;
    min-height: 95vh;
}

.letters {
    display: grid;
    justify-content: center;
    align-items: center;
}

:root{
  --black-50: #f6f6f6;
  --black-100: #e7e7e7;
  --black-200: #d1d1d1;
  --black-300: #b0b0b0;
  --black-400: #888888;
  --black-500: #6d6d6d;
  --black-600: #5d5d5d;
  --black-700: #4f4f4f;
  --black-800: #454545;
  --black-900: #3d3d3d;
  --black-950: #000000;

}
  
.letters h1 {
    font-size: 2em;
    margin: 0;
    border-radius: 10px;
    padding: 0.3em;
    background: linear-gradient(to left, 
      
      var(--black-400),
      var(--black-300),
      var(--black-50)
    );
    -webkit-background-clip: text;
    color: transparent;
    opacity: 1;
    animation-name: letters-1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
  
  .letters h2:first-child {
    background-color: transparent;
    animation-name: letters-1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  }
  .letters h2:nth-child(2) {
    background-color: transparent;
    animation-name: letters-2;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;;
  }
  
  @keyframes letters-1 {
    0% {
      transform: translateX(-500px);
      opacity: 0;
    }
    33% {
      opacity: 1;
    }
    66% {
      opacity: 1;
    }
    100% {
      transform: translateX(0);
      /* opacity: 0; */
    }
  }
  @keyframes letters-2 {
    0% {
      transform: translateY(500);
      opacity: 0;
    }
    33% {
      opacity: 1;
    }
    66% {
      opacity: 1;
    }
    100% {
      transform: translateY(0);
      /* opacity: 0; */
    }
  }


  @keyframes presentation {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .presentation {
    font-size: 2em;
    margin: 0;
    border-radius: 10px;
    padding: 0.6em;
    
    background: linear-gradient(to left, 
    var(--black-400),
    var(--black-300),
    var(--black-50)
    );
    -webkit-background-clip: text;
    color: transparent;
    opacity: 1;
    background-color: transparent;
    position: relative;
    opacity: 1;
    animation: presentation 2s ease-in-out forwards;
  }
  