.App {
  text-align: center;
  /* flex-grow: 1; */
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #52c8e9;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  flex-wrap: wrap;
  padding-right: 25px;
  display: flex;
  justify-content: right;
  min-height: 12vh;
  align-items: center;
  background-color: #ffffff;
  overflow: hidden;
}


.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.content-container {
  display: left;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  width: 100%;
}

.img-container {
  order: 1; /* Cambia el orden para colocar CircularImg en la izquierda */
}

.information {
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 800px) {
  .hero {
    flex-direction: column;
  }

  .content-container {
    align-items: center;
  }

  .img-container {
    order: 2; /* Cambia el orden para colocar CircularImg después de la información */
  }
}
