.App {
  text-align: center;
  /* flex-grow: 1; */
}

.App-header {
  background-color: #54a5d4;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}


.navbar {
  flex-wrap: wrap;
  padding-right: 25px;
  display: flex;
  justify-content: right;
  min-height: 12vh;
  align-items: center;
  background-color: #ffffff;
  overflow: hidden;
}


.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0 0;
  max-width: 80%;
}

.name-img{
  display: center;
}

.image-container {
  display: center;
  /* flex-direction: column; */
  align-items: center;
  max-width: 100%;
  margin-bottom: 20px;
}

.information {
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 800px) {
  .hero {
    flex-direction: column;
  }

  .content-container {
    align-items: center;
    justify-content: center;
  }
}
